<!DOCTYPE html>
<html lang="en">

<head>
  <!-- App CSS -->
  <link rel="stylesheet" href="css/stylesheet.css" type="text/css"/>
  <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include('partials/_header') %>
    <% if(typeof serverCookies==='undefined' ){ %>
      <h1><%= errorMessage %></h1>
    <% } else{ %>
      <% if(urlArray.includes(shortURL)){ %>
        <div>
          <div>
            <h5 class="card-title">TinyURL for: <%= longURL %>
            </h5>
            <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
            <form action="/urls/<%= shortURL %>" method="POST">
              <label for="edit"><b>Edit</b></label>
              <input name='newURL' type="text" placeholder="http://">
              <button type="submit" class="btn btn-primary">Update<button>
            </form>
          </div>
        </div>
      <% } else{ %>
        <h1><%= errorMessage %></h1>
      <% } %>
    <% } %>
</body>

</html>